.navbar-container {
    display: flex;
    align-items: center;
    padding: 7px 20px;
    justify-content: space-between;
    background-color: hsl(0, 84%, 50%);

}

.navbar-phone {
    display: none;
}

.navbar-container .logo img {
    margin: 5px 20px 0 20px;
    height: 70px;
    width: auto;
}

.navbar-container .navbar-list .home,
.navbar-container .navbar-list .about,
.navbar-container .navbar-list .rekap-nilai,
.navbar-container .navbar-list .LogOut,
.navbar-container .navbar-list .Admin,
.navbar-container .navbar-list .Contact {
    display: inline;
    margin: 0 20px;
    text-decoration: none;
    font-weight: 500;
    padding: 5px 10px;
    font-size: 120%;
    color: white;
    list-style: none;
    text-align: center;
    line-height: 10px;
}

.navbar-container .navbar-list a:hover {
    color: #7300ff;
    transition: all 0.3 ease;
}

.navbar-container .more-info {
    border: none;
    color: white;
    height: 40px;
    width: 100px;
    text-decoration: none;
    text-align: center;
    line-height: 38px;
    background-color: rgb(7, 7, 165);
    border-radius: 5px;
}

.navbar-container .more-info:hover {
    color: black;
    background-color: #6111c2;
    transition: all 0.3s ease;
}


@media screen and (max-width: 768px) {
    .navbar-container {
        align-items: center;
        /* display: none; */
    }

    .navbar-phone {
        display: none;
        flex-direction: column;
        background-color: white;
        height: 100vh;
        width: 30%;
        position: absolute;
        z-index: 10;
        font-size: 12px;
        font-weight: bold;
        box-shadow: black 0px 0px 15px;
    }

    .navbar-phone .logo {
        display: inline-block;
        background-color: #ef2f2f;
        padding: 10px 5px;
    }

    .navbar-phone .logo img {
        height: 50px;
        width: 50px;
    }

    .navbar-phone .navbar-list-phone {
        display: flex;
        font-size: 24px;
        /* text-decoration: none; */
        flex-direction: column;
        margin-top: 20px;
    }

    .navbar-phone .navbar-list-phone a {
        color: blue;
        padding: 5px 0;
        text-decoration: none;
    }

    .navbar-phone .navbar-list-phone a:hover {
        color: #681ac6;
        background-color: rgb(169, 169, 169);
        transition: all 0.3s ease;
        padding-left: 5px;
    }

    .navbar-container .navbar-list .home,
    .navbar-container .navbar-list .about,
    .navbar-container .navbar-list .rekap-nilai,
    .navbar-container .navbar-list .Contact {
        display: none;
    }

}